.container{ 
    padding: 50px;    
    font-family: 'Nanum Gothic', sans-serif;
} 

.title_box {
    background-color: rgb(234, 236, 239, 0.7);
    padding: 10px 10px;
    border-radius: 35px;
    margin-top: -10px; 
}

.title_data{
    margin: 15px;  
}

.bt_group{    
    float: right;
    display: flex;
    justify-content: flex-start;
}

.change_bt,
.del_bt, 
.list_bt { 
    cursor: pointer;
    padding: 8px;
    width: 50px;
    font-size: 13px;  
    margin-left: 10px; 
    background-color: rgba(184, 206, 251);
    color: black;
    border: none;
    border-radius: 10px;  
}

.change_bt:hover,
.del_bt:hover,
.list_bt:hover {  
    background-color: rgb(104, 152, 247);
    color: black;
    border: none;
    border-radius: 10px; 
}
  
.detail_box { 
    width: 100%;  
    padding: 10px 0px 0px 0px;
    margin-top: 10px;
    margin-left: 10px;
}

.detail1, 
.detail2, 
.detail3 { 
    width: 100%;
    margin-left: 10px;
    margin-right: 30px;
}

.people_box,
.purpose_box,
.date_box {
    background-color: rgba(184, 206, 251, 0.4);
    padding: 0px 10px; 
    vertical-align: middle;
    display: inline-block;
    font-weight: lighter;
}

.people_data,
.purpose_data,
.date_data { 
    margin: 15px;
    vertical-align: middle;
}

.detail4{
    float: right;  
}

.nickname_data{ 
    width: 100%; 
    margin-right: 10px;
    vertical-align: middle; 
    text-align: right;  
}

.writedate{
    width: 100%; 
    padding: 0px 10px; 
    vertical-align: middle; 
    color: rgb(102, 102, 102);
}

#detail_hr {
    border: none;
    height: 1.5px;
    background: #b5b5b5;
}

.content_box {
    background-color: rgb(234, 236, 239, 0.7);
    height: 250px;
    padding: 25px 10px;
    border-radius: 35px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.content_data{
    margin: 0px 15px; 
    word-wrap: break-word;    
}

#center_hr {
    border: none;
    height: 1.5px;
    background: #b5b5b5;
    margin: 80px 0px 40px 0px;
}

.under_box {
    width: 100%;
    padding: 50px 50px;
    background-color: #EAECEF; 
    margin-top: 20px;
    border: solid 1px gray;
    border-radius: 10px;
}

.comment_title { 
    text-align: center;
    margin: -30px 0px 30px 0px;
    font-size: 20px; 
}

.comment_box {
    background-color: white;
    padding: 10px 10px;
    border-radius: 12px; 
    margin-top: -10px;
    margin-bottom: 30px;
}

.comment_nickname{ 
    margin: 0px 15px;
    font-size: 13px;
}

.comment_date { 
    font-size: 12px;
    color: gray; 
    vertical-align: middle;
}

.comment_data{
    padding: 10px 0px;
    margin: 0px 15px; 
    word-wrap: break-word;  
    font-size: 15px;  
}

.comment_delete_bt { 
    cursor: pointer;
    padding: 5px 0px;
    width: 40px;
    font-size: 13px; 
    margin: 5px 13px 0px; 
    background-color: rgba(184, 206, 251);
    color: black;
    border: none;
    border-radius: 10px; 
}

.comment_delete_bt:hover {  
    background-color: rgb(104, 152, 247);
    color: black;
    border: none;
    border-radius: 10px; 
}

.comment_plus {
    cursor: pointer;
    background-color: white;
    width: 92%;
    padding: 10px 20px;
    border-radius: 12px; 
    border-width: 0px;
    margin-top: 50px;
    display: inline-block;
    font-size: 15px; 
}

.plus_bt { 
    cursor: pointer;
    padding: 11px 10px;
    width: 60px;
    font-size: 15px;  
    margin-left: 10px; 
    background-color: rgba(184, 206, 251);
    color: black;
    border: none;
    border-radius: 10px; 
    display: inline-block;
    vertical-align: top;
    margin-top: 50px; 
}

.plus_bt:hover {  
    background-color: rgb(104, 152, 247);
    color: black;
    border: none;
    border-radius: 10px; 
}

#no_list {
    padding: 20px 0px 0px;  
    text-align: center;
    font-size: medium;
    background-color: rgba(234, 236, 239, 0.5);

}
 
body::-webkit-scrollbar {
    width: 17px;  
    height: 0px;
}

body::-webkit-scrollbar-thumb {
    height: 30%; 
    background: #6092f6; 
    border-radius: 10px;
    background-clip: padding-box;
    border: 5px solid transparent;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);   
}

@media screen and (max-width: 1200px) {
    .plus_bt { 
        margin-left: 2px; 
        margin-top: 15px;
    }
}

@media screen and (max-width: 1000px) {
    .detail_box { 
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        padding: 0 .7rem; 
        height: 50px; 
    } 
    .detail4{ 
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem; 
        margin-top: 10px;
    }
}

@media screen and (max-width: 770px) {
    .detail3 {   
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;  
        margin-top: 10px;   
        float: left;
        width: 49%;
    }   
}

@media screen and (max-width: 550px) {
    .detail4{  
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem; 
        margin-top: -25px;
    } 
}
