body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_back {
    text-align: center; 
    background-color: rgba(184, 206, 251, 0.8);
    margin: -10px -10px 20px -10px;
}

.main_logo {
    padding-top: 25px;
}

.side_menu {
    float: left;
    padding-left: 50px;
    padding-top: 35px;
    transition: .5s;
}

.bookmark-btt {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 3rem;
}

.side_section {
    background-color: #56789a;
    color: #fff;
    width: 200px; 
    height: 100vh;
    padding-left: 30px;
    position: fixed;
    top: 0;
    left: -200px;
    bottom: 0;
    transition: 1s ease;
    z-index: 9999;
}

#name > a:hover {
    color: #000000;
}

#main_home a:hover {
    color: #000000;
    text-decoration-line: none;
}

.info {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: center;   
    font-family: 'Gothic A1', sans-serif;  
}

#info_1 {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: rgb(43, 43, 43);
}

.bookmark-lists {
    padding: auto;
    margin-top: 300px;
    margin-bottom: 70px;
}

.bookmark:nth-child(1) {
    margin-top: 50px;
}

.bookmark a {
    color: #fff;
    text-decoration-line: none;
}

#name > a {
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
    margin-left: 15px;
    color:white;
    display: flex;
    text-align: center;
    padding-bottom: 1px;
    text-decoration-line: none;
}

#login, #gifticon, #commu, #out{
    display: flex;
    align-items: center;
    width: 100px;
    margin-left: 40px;
    color: black;
    font-size: 27px; 
    padding: 10px 0px;
}

#menu {
    font-size: 40px;
    position: absolute;
    top: 45px;
}

#main_home {
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    text-align: right;
    margin-right: 30px;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
}
 
hr {
    border: 0;
    height: 1.5px;
    background: #ccc;
}

@media screen and (max-width: 667px) {
    .logo_back {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        padding: 0 .8rem;
    }
}
