body {
    margin: 0;
}
body::-webkit-scrollbar{display:none}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0px;
}

.posting-box {
    width: 100%;
    padding: 50px 50px;
    background-color: #EAECEF; 
    margin-top: 20px;
    border: solid 1px gray;
    border-radius: 10px;
    margin-bottom: 5px;
}

input[type='date']::before {
    content: attr(data-placeholder);
    width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
    display: none;
}

#title {
    border-radius: 50px;
    height: 45px;
    padding-left: 30px;
    margin-bottom: 25px;
}

#content {
    border-radius: 20px;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 50px;
}

.details {
    padding-left: 20px;
    margin-bottom: 25px; 
}

.detail_1{
    display: inline-block;
    width: 200px; 
    padding:2px 0;
}

.detail_2{
    display: inline-block;
    width: 250px; 
    padding:2px 0;
}
.detail_3{
    display: inline-block;
    width: 350px; 
    padding:2px 0; 
}

.people,
.purpose, 
.date{
    display: inline-block;
    /* padding-right: 10px;
            padding-left: 30px; */
    background-color: rgba(184, 206, 251, 0.4);
    width: 60px;
    padding: auto;
    text-align: center;
}

.nodate_pick{
    /* background-color: pink;  
    text-align: center;
    display: inline-block;
    margin-left: 10px; */
    display: inline-block;
    padding-top: 6px;
    height: 35px;
    margin-left: 20px;
    margin-right: 50px;
    text-align: center; 
}

input[type="checkbox"]:disabled+ label {
    opacity: 0.3;
  }

#people_num {
    width: 60px;
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
    border-color: black;
    margin-left: 8px; 
    margin-right: 50px;
}

.gender_check {
    display: inline-block;
    padding-top: 6px;
    height: 35px;
    margin-left: 8px;
    margin-right: 50px;
    text-align: center;
}

.date_pick {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
    margin-left: 8px;
    border-color: black;
}

#purpose_list {
    width: 110px;
    height: 35px;
    border-width: 1px;
    text-align: center;
    margin-left: 8px;
    border-color: black;
    display: inline-block;
    padding-right: 10px;
}

.save {
    width: 100px;
    height: 39px;
    background-color: #000000;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}

.save:hover {
    width: 100px;
    height: 39px;
    background-color: rgb(181, 181, 181); 
    color: black;
}

.reset {
    cursor: pointer;
    width: 100px;
    height: 35px;
    padding: 9px 30px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid black;
}

.reset:hover {
    width: 100px;
    height: 35px;
    background-color: rgb(181, 181, 181); 
    color: black; 
    text-decoration: none; 
}

.final_bt {
    text-align: center;
}

.community { 
    margin-bottom: 0;   
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif; 
    text-align: center;
}
#commu_icon {
    vertical-align: middle;
    font-size: 30px;
}
hr {
    border: 0;
    height: 1.5px;
    background: #ccc;
}

@media screen and (max-width: 667px) {
    .logo_back {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        padding: 0 .8rem;
    }
    .community {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        text-align: center; 
    }
    .details {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        padding: 0 .7rem;
    }
    .detail_1,
    .detail_2,
    .detail_3,
    .detail_4 {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        padding:2px 0;
    }
    .wrap {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem; 
        margin-bottom: 10rem;
    }
    .posting-box {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem; 
        margin-bottom: 5rem;
    }
}
 
@media screen and (max-width: 1200px) {
    .posting-box {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem; 
        margin-bottom: 5rem;
    }
}
