body {
    margin: 0;
}

body::-webkit-scrollbar{display:none}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0px;
}

.board_title { 
    margin-bottom: 0; 
    text-align: left;
    color: black;
    font-size: 150%;
    font-weight: bold;
    width: 75%;
    margin: auto; 
    padding-top: 20px; 
}
#commu_icon {
    vertical-align: middle;
    font-size: 30px; 
}
.board_title .commu_title { 
    margin-bottom: 0;   
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif; 
    text-align: center; 
}

.board_title .sub_title{
    font-size: 70%;
    padding-top: 5px;
    padding-left: 15px;
    color: rgb(96, 96, 96);
    display: inline-block; 
}

.board_list {
    /* background-color: #EAECEF; */
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-right: none;
    border-left: none; 
    /* border-color: #b4b4b475; */
    width: 100%;
    height: 30px;  
}

.list_title{
    height: 45px;
    font-size: 17px; 
    /* border-style: solid;
    border-width: 1px; */
    border-top-style: solid;
    border-top-color:  rgba(184, 206, 251);
    border-top-width: 5px; 
    border-bottom-style: solid;
    border-bottom-color:  rgba(184, 206, 251);
    border-bottom-width: 5px;
    /* background-color: #b4b4b475;  */
    background-color: rgba(184, 206, 251, 0.3); 
}

.content_list{
    background-color: rgba(234, 236, 239, 0.2);
    height: 40px;
    /* border-style: solid;
    border-width: 1px; */
    border-bottom-style: solid;
    border-bottom-width: 2px; 
    border-bottom-color: rgba(234, 236, 239);
}

.board_wrap {
    text-align: center;  
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#no_list {
    padding: 30px 0px;  
    background-color: rgba(234, 236, 239, 0.5);

}

.write_bt {
    cursor: pointer;
    width: 100px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border: 2px solid black;
}

.write_bt:hover {
    width: 100px;
    height: 35px;
    background-color: white;
    color: black;
}

.wrap {
    text-align: center;
    margin-bottom: 20px;
}

#to_write {
    background-color: pink;
}

.content_list:hover {
    background-color: rgba(184, 206, 251, 0.3);
    cursor: pointer;
}

.past-date {
    color: rgb(159, 159, 159);
    background-color: rgba(234, 236, 239, 0.6);
 }

.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.pagination .page-item.active .page-link {
    color: white;
    background-color: rgb(126, 169, 255);
    border-color: rgb(126, 169, 255);
}

.pagination .page-link {
     color: rgb(80, 80, 80);  
}

.pagination .page-link:hover{
    color: rgb(126, 169, 255);
}

@media screen and (max-width: 667px) {
    .wrap, .board_list {
        flex-direction: column;
        align-items: flex-start; 
        padding: 0 1rem;
        width: 100%;
    }
}
