body{
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
}

.top {
    font-size: 40px;
    font-weight: 900;
    padding-top: 70px;
    color: rgba(72, 100, 157, 0.8);
}

.middle {
    padding-top: 20px;
}

#text {
    font-size:18px;
    font-weight: bold;
    padding-bottom: 10px;
}

#password1 {
    text-align:center;
    width: 210px;
    height: 30px;
    font-size: 15px;
    border: 0;
    outline: none;
    border-bottom: 1px solid black;
}

#password2 {
    text-align:center;
    width: 210px;
    height: 30px;
    font-size: 15px;
    border: 0;
    outline: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

#check {
    background-color: rgba(184, 206, 251, 0.8);
    border-radius: 5px;
    width: 215px;
    height: 40px;
    border: 0;
    font-size: 17px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

#check:hover {
    background-color: rgb(169, 196, 249);
    color: black;
}

#password1Error, #password2Error {
    color: red;
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px;
}

@media screen and (max-width: 200px) {
    #password1, #password2, #check{
        width: 120px;
    }
}
